@tailwind components;

@layer components {
  .border-nav {
    @apply border-solid border-navborder-light dark:border-navborder-dark;
  }

  .side-nav {
    @apply flex items-center gap-2 px-4 py-3 rounded-lg;
  }

  .btn {
    @apply px-8 py-4 rounded-lg text-fg/70-light dark:text-fg/70-dark flex items-center justify-center gap-2 bg-bg/5-light dark:bg-bg/5-dark border-bg/5-light dark:border-bg/5-dark border-solid border-[1px] text-sm;
  }

  /* ImageHoverSwitch */
  /* Define the styles for the black and white and colored images */
  .bw {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    animation: fadeOut 1s ease forwards;
  }

  .colored {
    filter: grayscale(0%);
    animation: fadeIn 1s ease forwards;
  }

  @keyframes fadeIn {
    from {
      filter: grayscale(100%);
    }
    to {
      filter: grayscale(0%);
    }
  }

  @keyframes fadeOut {
    from {
      filter: grayscale(0%);
    }
    to {
      filter: grayscale(100%);
    }
  }

  /* Mobile menu. */
  .mobile-menu-open div:nth-child(3) {
    @apply w-0;
  }

  .mobile-menu-open div:nth-child(2) {
    @apply translate-y-0 xs:translate-y-0 rotate-45;
  }

  .mobile-menu-open div:nth-child(1) {
    @apply translate-y-[7px] xs:translate-y-2.5 -rotate-45;
  }

  .mobile-menu {
    @apply fixed z-[100] right-0 top-[97px] translate-x-[100vw];
  }

  .mobile-menu.open {
    @apply translate-x-0;
  }
}
