@font-face {
  font-family: 'Airbnb';
  src: url('../Assets/Fonts/Airbnb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb';
  src: url('../Assets/Fonts/Airbnb-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb';
  src: url('../Assets/Fonts/Airbnb-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
